<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt.Net-Next" version="4.0.0" targetFramework="net472" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net472" />
  <package id="DeltaCompressionDotNet" version="1.1.0" targetFramework="net472" />
  <package id="Fody" version="6.1.1" targetFramework="net472" developmentDependency="true" />
  <package id="FodyHelpers" version="6.1.1" targetFramework="net472" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net472" />
  <package id="MaterialDesignColors" version="1.2.3" targetFramework="net472" />
  <package id="MaterialDesignExtensions" version="3.0.0" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="3.1.0" targetFramework="net472" />
  <package id="MaterialMessageBox" version="1.0.0.11" targetFramework="net472" />
  <package id="Microsoft.Net.Compilers.Toolset" version="3.5.0" targetFramework="net472" developmentDependency="true" />
  <package id="Mono.Cecil" version="0.11.2" targetFramework="net472" />
  <package id="MvvmCross" version="6.4.2" targetFramework="net472" />
  <package id="MvvmCross.Platforms.Wpf" version="6.4.2" targetFramework="net472" />
  <package id="MvvmCross.Plugin.Messenger" version="6.4.2" targetFramework="net472" />
  <package id="MvvmCross.Plugin.Visibility" version="6.4.2" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="Nito.AsyncEx.Context" version="5.0.0" targetFramework="net472" />
  <package id="Nito.AsyncEx.Tasks" version="5.0.0" targetFramework="net472" />
  <package id="Nito.Disposables" version="2.0.1" targetFramework="net472" />
  <package id="NuGet.CommandLine" version="5.4.0" targetFramework="net472" developmentDependency="true" />
  <package id="Realm" version="4.3.0" targetFramework="net472" />
  <package id="Realm.Fody" version="4.3.0" targetFramework="net472" developmentDependency="true" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net472" />
  <package id="Serilog" version="2.9.0" targetFramework="net472" />
  <package id="Serilog.Sinks.Debug" version="1.0.1" targetFramework="net472" />
  <package id="Serilog.Sinks.File" version="4.1.0" targetFramework="net472" />
  <package id="SharpCompress" version="0.17.1" targetFramework="net472" />
  <package id="SixLabors.Core" version="1.0.0-beta0008" targetFramework="net472" />
  <package id="SixLabors.ImageSharp" version="1.0.0-beta0007" targetFramework="net472" />
  <package id="Splat" version="9.4.1" targetFramework="net472" />
  <package id="squirrel.windows" version="1.9.1" targetFramework="net472" />
  <package id="StreamEncryptor" version="1.2.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.7.0" targetFramework="net472" />
  <package id="System.Console" version="4.3.1" targetFramework="net472" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net472" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Abstractions" version="10.0.8" targetFramework="net472" />
  <package id="System.IO.FileSystem.AccessControl" version="4.7.0" targetFramework="net472" />
  <package id="System.Management" version="4.7.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net472" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net472" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net472" />
  <package id="Xam.Plugin.DeviceInfo" version="4.1.1" targetFramework="net472" />
</packages>